body {
    font-family: 'Poppins', sans-serif;
}

#header_desktop {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    height: 8vh;
    width: 100vw;
    background-color: #23374d;
}

#header_desktop h2 {
    position: relative;
    margin: 2vh 2vw;
    height: 4vh;
    width: auto;
    font-size: 1.5vw;
    display: inline-block;
    color: #eeeeee;
    cursor: pointer;
}

#header_desktop h2:hover {
    color: #1089ff;
}

#header_desktop h1 {
    position: absolute;
    top: 0px;
    margin-top: 2vh;
    right: 2vw;
    height: 4vh;
    width: auto;
    font-size: 1.5vw;
    color: #eeeeee;
}

#page_desktop {
    position: absolute;
    z-index: 1;
    top: 8vh;
    left: 0px;
    height: 316vh;
    background-color: #23374d;
}

#view_1_desktop {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 102vh;
    width: 100vw;
    background-color: #23374d;
}

#main_photo_desktop {
    background-image: url('homepage_main_photo.jpg');
    height: 84vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dutch_desktop {
    position: absolute;
    top: 2vh;
    right: 12vw;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
}

#english_desktop {
    position: absolute;
    top: 2vh;
    right: 7vw;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
}

#german_desktop {
    position: absolute;
    top: 2vh;
    right: 2vw;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
}

#down_arrow_desktop {
    position: absolute;
    top: 85vh;
    left: 42vw;
    height: 6vh;
    width: 16vw;
    fill: #eeeeee;
}

#view_2_desktop {
    position: absolute;
    top: 102vh;
    left: 0vw;
    height: 102vh;
    width: 100vw;
    background-color: #eeeeee;
}

#view_3_desktop {
    position: absolute;
    top: 204vh;
    left: 0vw;
    height: 92vh;
    width: 100vw;
    background-color: #23374d;
}

#view_4_desktop {
    position: absolute;
    top: 306vh;
    left: 0vw;
    height: 102vh;
    width: 100vw;
    background-color: #eeeeee;
}

#view_5_desktop {
    position: absolute;
    top: 408vh;
    left: 0vw;
    height: 92vh;
    width: 100vw;
    background-color: #23374d;
}

.triangle_desktop_triangle {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 17vw;
    width: 100vw;
}

.triangle_desktop_title {
    position: absolute;
    top: 5vh;
    left: 5vw;
    font-size: 4vw;
}

.triangle_desktop_photo {
    position: absolute;
    top: 12vh;
    left: 5vw;
    height: 68vh;
    width: 60vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#triangle_desktop_left_arrow {
    position: absolute;
    top: 40vh;
    left: 6vw;
    height: auto;
    width: 8vh;
    fill: #eeeeee;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#triangle_desktop_right_arrow {
    position: absolute;
    top: 40vh;
    right: 36vw;
    height: auto;
    width: 8vh;
    fill: #eeeeee;
    cursor: pointer;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.triangle_desktop_text {
    position: absolute;
    top: 10vh;
    left: 68vw;
    width: 27vw;
    line-height: 4vh;
    font-size: 1.25vw;
}

.triangle_desktop_more_information {
    position: absolute;
    bottom: 12vh;
    right: 5vw;
    cursor: pointer;
    font-size: 1.25vw;
}

.triangle_desktop_more_information:hover {
    color: #1089ff !important;
}

.triangle_desktop_sub_title {
    margin: 3vh 2vw;
    font-size: 1.5vw;
    line-height: 5vh;
}

.triangle_desktop_sub_link {
    margin: 3vh 2vw;
    font-size: 1.5vw;
    line-height: 5vh;
    cursor: pointer;
}

.triangle_desktop_sub_link:hover {
    color: #1089ff !important;
}

.triangle_desktop_sub_link_2 {
    margin: 3vh 7vw;
    font-size: 1.25vw;
    line-height: 5vh;
    cursor: pointer;
}

.triangle_desktop_sub_link_2:hover {
    color: #1089ff !important;
}

.triangle_desktop_sub_text {
    margin: 3vh 5vw;
    font-size: 1.25vw;
    line-height: 4vh;
}

.triangle_desktop_text_input {
    margin: 0vh 0vw 2vh 20vw;
    padding: 0px 0px 0px 1vw;
    height: 5vh;
    width: 60vw;
    border: 0.75px solid #23374d;
    border-radius: 1vh;
    color: #23374d;
    font-size: 1.25vw;
    font-family: 'Poppins', sans-serif;
    resize: none;
}

.triangle_desktop_button_input {
    margin: 0vh 0vw 2vh 66vw;
    padding: 0px;
    height: 5vh;
    width: 15vw;
    border: 0.75px solid #23374d;
    border-radius: 1vh;
    color: #23374d;
    background-color: white;
    font-size: 1.25vw;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.triangle_desktop_button_input:hover {
    color: white;
    background-color: #23374d;
}

#footer_desktop {
    position: absolute;
    border-top: 2px solid #eeeeee;
    padding-left: 2vw;
    top: 296vh;
    left: 0vh;
    height: 50vh;
    width: 100vw;
    background-color: #23374d;
    color: #eeeeee;
    font-size: 1vw;
    line-height: 3vh;
}

.footer_column_desktop {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

#footer_desktop h6 {
    margin: 3vh 1vw;
    font-size: 1.2vw;
    line-height: 3vh;
}

#footer_desktop p {
    margin: 3vh 2vw;
    cursor: pointer;
}

#footer_desktop p:hover {
    color: #1089ff;
}

#footer_email_link {
    position: absolute;
    font-size: 1.5vw;
    width: auto;
    right: 4vw;
    bottom: 4vh;
    text-decoration: none;
    color: #eee;
}

#footer_email_link:hover {
    color: #1089ff;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
